*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
/* ------------------------------------ MAIN PAGE -------------------------------------- */
body{
    background: linear-gradient(45deg, burlywood, goldenrod);
}
#main-page{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#main-page > h2{
    margin: 2rem 0rem;
    font-size: 2rem;
}
#header{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    padding: 1.3rem;
}
#info{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2rem;
    margin: 2rem 0rem;
}
button {
    margin: 1rem 0rem;
    font-size: 2rem;
    background: firebrick;
    color: white;
    padding: 0.8rem;
    border-radius: 35%;
}
button:hover{
    background-color: white;
    color: firebrick;
}
button:active{
    transform: scaleY(-300px);
}
.game-mode{
    display: flex;
    justify-content: space-around;
}
div > button{
    font-size: 1.2rem;
    font-weight: 700;
    display: none;
}
/* ------------------------------------ END MAIN PAGE -------------------------------------- */

/* ------------------------------------GAME BOARD -----------------------------------*/
#game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 60vh;
    width: 60vw;
}
#game-board div {
    outline-style: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: 700;
    font-family: cursive;
}
#game-board div:hover{
    cursor: crosshair;
    background-color: beige;
}
#game-board div .one{
    grid-column: 1/2;
    grid-row: 1/2;
}
#game-board div .two{
    grid-column: 2/3;
    grid-row: 1/2;
}
#game-board div .three {
    grid-column: 3/4;
    grid-row: 1/2;
}
#game-board div .four {
    grid-column: 1/2;
    grid-row: 2/3;
}
#game-board div .five {
    grid-column: 2/3;
    grid-row: 2/3;
}
#game-board div .six {
    grid-column: 3/4;
    grid-row: 2/3;
}
#game-board div .seven {
    grid-column: 1/2;
    grid-row: 3/4;
}
#game-board div .eight {
    grid-column: 2/3;
    grid-row: 3/4;
}
#game-board div .nine {
    grid-column: 3/4;
    grid-row: 3/4;
}
/* ------------------------------------ END GAME BOARD -----------------------------------*/

@media screen and (max-width : 825px){
    h1{
        font-size: 4rem;
    }
}
@media screen and (max-width : 665px){
    h1{
        font-size: 3rem;
    }
}
@media screen and (max-width : 530px){
    h1{
        font-size: 1.8rem;
    }
    #main-page > h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.3rem;
    }
    #game-board div{
        font-size: 4rem;
    }
}
@media screen and (max-width : 425px) {
    #info{
        margin: 0;
    }
    h1{
        font-size: 1.8rem;
    }
    #main-page > h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.3rem;
    }
    #game-board div{
        font-size: 4rem;
    }
}